body {
    background-color: paleturquoise;
    margin: 20px;
}

p {
    text-align: center;
}

#story {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 5px;
}

#story button {
    border-radius: 15px;
    width: 75%;
    position: relative;
    left: 25%;
}

#write {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
}

#delete {
    grid-column: 3/4;
}

#put {
    grid-column: 2/3;
    grid-row: 2/3;
}

#lore {
    grid-column: 1/4;
}

#scroll {
    display: none;
    background: black;
    color: rgba(255, 255, 0, 0.818);
    padding: 25px;
}